<!--	Gear table -------------------------------------------
	ASCII - Label = 1 line, table = 6 lines (one as a divider line)
	Graphical - 5 lines of text cells 40x20 pixels  = 480x100 pixels  -->

<div id="gtCanvas" style="position:relative;height:130px;width:700px;">
	<textarea name="gearTableLabel" rows="1" cols="26" style="overflow:hidden" readonly="readonly"></textarea>
	<br/>
	<textarea name="gearTable" rows="6" cols="72" style="overflow:hidden" readonly="readonly"></textarea>
	<div style="font-size: 0px; ">
		<div style="position:absolute;white-space:nowrap;left:163.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(10)</div>
		<div style="position:absolute;white-space:nowrap;left:208.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(9)</div>
		<div style="position:absolute;white-space:nowrap;left:253.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(8)</div>
		<div style="position:absolute;white-space:nowrap;left:298.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(7)</div>
		<div style="position:absolute;white-space:nowrap;left:343.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(6)</div>
		<div style="position:absolute;white-space:nowrap;left:388.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(5)</div>
		<div style="position:absolute;white-space:nowrap;left:433.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(4)</div>
		<div style="position:absolute;white-space:nowrap;left:478.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(3)</div>
		<div style="position:absolute;white-space:nowrap;left:523.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(2)</div>
		<div style="position:absolute;white-space:nowrap;left:568.5px;top:20px;font-family:arial;font-size:14px;color:#888888;font-weight:normal;">(1)</div>
		<div style="position:absolute;overflow:hidden;left:0px;top:0px;width:700px;text-align:center;font-family:arial;font-size:16px;color:#000099;font-weight:normal;">Gear Inch Chart - 10 x 3</div>
		<div style="position:absolute;white-space:nowrap;left:163.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">12</div>
		<div style="position:absolute;white-space:nowrap;left:208.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">13</div>
		<div style="position:absolute;white-space:nowrap;left:253.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">14</div>
		<div style="position:absolute;white-space:nowrap;left:298.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">15</div>
		<div style="position:absolute;white-space:nowrap;left:343.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">16</div>
		<div style="position:absolute;white-space:nowrap;left:388.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">17</div>
		<div style="position:absolute;white-space:nowrap;left:433.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">19</div>
		<div style="position:absolute;white-space:nowrap;left:478.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">21</div>
		<div style="position:absolute;white-space:nowrap;left:523.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">23</div>
		<div style="position:absolute;white-space:nowrap;left:568.5px;top:40px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">25</div>
		<div style="position:absolute;border-left:496px solid #000099;left:102.5px;top:60px;width:0px;height:1px;clip:rect(0,496px,1px,0);background-color:#000099;overflow:hidden;"></div>
		<div style="position:absolute;border-left:1px solid #000099;left:147.5px;top:40px;width:0px;height:81px;clip:rect(0,1px,81px,0);background-color:#000099;overflow:hidden;"></div>
		<div style="position:absolute;white-space:nowrap;left:118.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">46</div>
		<div style="position:absolute;white-space:nowrap;left:155.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">102.0</div>
		<div style="position:absolute;white-space:nowrap;left:208.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">94.2</div>
		<div style="position:absolute;white-space:nowrap;left:253.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">87.4</div>
		<div style="position:absolute;white-space:nowrap;left:298.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">81.6</div>
		<div style="position:absolute;white-space:nowrap;left:343.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">76.5</div>
		<div style="position:absolute;white-space:nowrap;left:388.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">72.0</div>
		<div style="position:absolute;white-space:nowrap;left:433.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">64.4</div>
		<div style="position:absolute;white-space:nowrap;left:478.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">58.3</div>
		<div style="position:absolute;white-space:nowrap;left:523.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">53.2</div>
		<div style="position:absolute;white-space:nowrap;left:568.5px;top:100px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">49.0</div>
		<div style="position:absolute;white-space:nowrap;left:118.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">36</div>
		<div style="position:absolute;white-space:nowrap;left:163.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">79.8</div>
		<div style="position:absolute;white-space:nowrap;left:208.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">73.7</div>
		<div style="position:absolute;white-space:nowrap;left:253.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">68.4</div>
		<div style="position:absolute;white-space:nowrap;left:298.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">63.9</div>
		<div style="position:absolute;white-space:nowrap;left:343.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">59.9</div>
		<div style="position:absolute;white-space:nowrap;left:388.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">56.4</div>
		<div style="position:absolute;white-space:nowrap;left:433.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">50.4</div>
		<div style="position:absolute;white-space:nowrap;left:478.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">45.6</div>
		<div style="position:absolute;white-space:nowrap;left:523.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">41.7</div>
		<div style="position:absolute;white-space:nowrap;left:568.5px;top:80px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">38.3</div>
		<div style="position:absolute;white-space:nowrap;left:118.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">24</div>
		<div style="position:absolute;white-space:nowrap;left:163.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">53.2</div>
		<div style="position:absolute;white-space:nowrap;left:208.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">49.1</div>
		<div style="position:absolute;white-space:nowrap;left:253.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">45.6</div>
		<div style="position:absolute;white-space:nowrap;left:298.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">42.6</div>
		<div style="position:absolute;white-space:nowrap;left:343.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">39.9</div>
		<div style="position:absolute;white-space:nowrap;left:388.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">37.6</div>
		<div style="position:absolute;white-space:nowrap;left:433.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">33.6</div>
		<div style="position:absolute;white-space:nowrap;left:478.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">30.4</div>
		<div style="position:absolute;white-space:nowrap;left:523.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">27.8</div>
		<div style="position:absolute;white-space:nowrap;left:568.5px;top:60px;font-family:arial;font-size:14px;color:#000099;font-weight:normal;">25.5</div>
	</div>
</div>
